{% include "header.html" %} 

<body style="background-color: #92C7CF; ">

  <section id="DocumentComparison" class="d-flex align-items-center justify-content-center pb-5" style="min-height: 100vh">

    <div class="container col-lg-4">

        <div class="text-center">
            <h1 class=" h1 font-weight-bold mt-0" style="color: #FBF9F1; font-size: calc(8vw + 1em);">{{mainText}}</h1>
            <small class="text-body-secondary h6" style="color: #FBF9F1;">Powered by leointhecode</small>
        </div>

        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-group ">
          
                <label class="h6" for="originalFile" style="color: #FBF9F1;">Original document</label>
                <input type="file" class="form-control" name="originalFile" />

                <label class="h6" for="checkFile" style="color: #FBF9F1;">Document to check</label>
                <input type="file" class="form-control" name="checkFile" />

            </div>
            <div class="center mt-5">
              <button type="submit" class="btn-large" style="background-color: #5e72e4" action='/' method="post">Check</button>
            </div>
        </form>
      
</section>
  </body>
</html>

